body {
  background: #14172b;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 100%
  );

  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 24px;

  width: 598px;
  height: 380px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mostplayed {
  background: #14172b;
  border-radius: 10px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  font-weight: 600;
}

.card-icons-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}

.card-btn {
  border: none;
  border-radius: 50px;
  background: linear-gradient(175.25deg, #9E44FF 3.56%, #543EFF 103.97%),
linear-gradient(180deg, rgba(237, 239, 250, 0.5) 0%, rgba(46, 49, 73, 0) 100%);
padding: 0.8rem 2rem;
color :#fff;
font-size: 1.2rem;
font-weight: 600;
width: 100%;
}

.tagline {
  color: rgba(255, 255, 255, 0.7);
}