body {
  background: #14172b;
  font-family: "Tomorrow", sans-serif;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 100%
  );

  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 24px;

  width: 598px;
  height: 380px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mostplayed {
  background: #14172b;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.mostplayed-modal {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}

.card-icons-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
}

.title {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.card-btn {
  border: none;
  border-radius: 50px;
  background: linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%),
    linear-gradient(
      180deg,
      rgba(237, 239, 250, 0.5) 0%,
      rgba(46, 49, 73, 0) 100%
    );
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 2rem;
  font-family: "Tomorrow", sans-serif;
}

.tagline {
  color: rgba(255, 255, 255, 0.7);
}


::-webkit-scrollbar {
 width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(175.25deg, #9E44FF 3.56%, #543EFF 103.97%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}