.modal .ReactModal__Content,
.ReactModal__Content--after-open {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 100%
  ) !important;

  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  border-radius: 16px !important;
  width: 550px;
  height:85%;
  margin: 0 auto;
  overflow: hidden !important;
}

.modal .ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  background: url("../src/images/bg.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-content{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350px;
}
.crypto-card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto;
}
.crypto-outer {
margin: 1rem 0;
}

.crypto-inner {
  padding: 0.5rem 1.1rem;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.crypto-inner p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  font-size: 11px;
}

.crypto-outer :hover {
  background: linear-gradient(
    175.25deg,
    rgba(158, 68, 255, 0.25) 3.56%,
    rgba(84, 62, 255, 0.25) 103.97%
  );
  border-radius: 8px;
  border: 1px solid #9e44ff;
}
.crypto-inner img:hover{
  background: transparent;
  border: none;
}
.crypto-inner p:hover{
  background: transparent;
  border: none;
}
.crypto-inner.active {
  background: linear-gradient(
    175.25deg,
    rgba(158, 68, 255, 0.25) 3.56%,
    rgba(84, 62, 255, 0.25) 103.97%
  );
  border-radius: 8px;
  border: 1px solid #9e44ff;
}
.crypto-outer :active {
  background: linear-gradient(
    175.25deg,
    rgba(158, 68, 255, 0.25) 3.56%,
    rgba(84, 62, 255, 0.25) 103.97%
  );
  border-radius: 8px;
  border: 1px solid #9e44ff;
}
.tabs-header {
  display: flex;
  margin: 0.5rem;
  justify-content: space-around;
}

.tab-selected {
  color: #fff;
  text-align: center;
}
.tab {
  display: inline-block;
  width: fit-content;
  padding: 0.35rem 1rem;
  transition: all 0.3s;
  border-radius: 14px;
  margin-right: 0.5rem;
  color: #56565a;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  font-family: 'Bai Jamjuree', sans-serif;
}

.tab.active {
  background: linear-gradient(
      175.25deg,
      rgba(158, 68, 255, 0.25) 3.56%,
      rgba(84, 62, 255, 0.25) 103.97%
    ),
    linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%);
  color: #fff;
  border: 1px solid #9e44ff;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.back-btn {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 0.7rem 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-weight: 600;
  font-family: 'Bai Jamjuree', sans-serif;
  width: 48%;
}

.next-btn {
  border: none;
  border-radius: 50px;
  font-family: 'Bai Jamjuree', sans-serif;
  background: linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%),
    linear-gradient(
      180deg,
      rgba(237, 239, 250, 0.5) 0%,
      rgba(46, 49, 73, 0) 100%
    );
  padding: 0.7rem 0.5rem;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 48%;
}
.input-container {
  margin: 0.5rem 0;
}

.input-fields label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left;
  font-weight: 600;
}
.input-fields input {
  padding: 0.7rem 0.8rem;
  color: rgba(255, 255, 255, 0.9);
  background: #14172b;
  border-radius: 17px;
  width: 93%;
  border: none;
  outline: none;
  margin: 0.5rem 0;
  font-size: 13px;
  font-weight: 600;
  font-family: "Tomorrow", sans-serif;
}

.final-market {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  justify-content: space-between;
}

.market-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.crypto-inner-market {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(0deg, #14172b, #14172b),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
}

.crypto-inner-market p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 12px;
}
.crypto-inner-market img {
  width: 2.3rem;
  height: 2.3rem;
}
.heading-market {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0.5rem 0;
}

.page-num-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0 0.5rem;
  position: relative;
}
.page-num {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #14172b;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  z-index: 1;
}
.page-num:nth-child(2):before,
.page-num:nth-child(2):after {
  content: "";
  position: absolute;
  left: 5.5%;
  background: rgba(255, 255, 255, 0.05);
  height: 10px;
  width: 90%;
  top: 35%;
  z-index: -1;
}

.page-num.pass {
  background: #6f9246;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.page-num.active {
  background: linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.search-input {
  padding: 0.6rem 3rem;
  color: rgba(255, 255, 255, 0.9);
  background: #14172b;
  border-radius: 20px;
  width: 90%;
  border: none;
  outline: none;
  margin: 0.5rem 0;
  font-size: 13px;
  font-family: "Tomorrow", sans-serif;
  border: 1px solid #9e44ff;
}
.search-container {
  position: relative;
  margin: 0.5rem;
  width: 90%;
}
.search-icon {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-repeat: no-repeat;
  top: 32%;
  left: 3%;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.58335 17.5C13.9556 17.5 17.5 13.9556 17.5 9.58332C17.5 5.21107 13.9556 1.66666 9.58335 1.66666C5.2111 1.66666 1.66669 5.21107 1.66669 9.58332C1.66669 13.9556 5.2111 17.5 9.58335 17.5Z' stroke='%2356565A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.3334 18.3333L16.6667 16.6667' stroke='%2356565A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.input-container.date {
  position: relative;
}

.calender {
  position: absolute;
  top: 45%;
  right: 4%;
}
